{% extends 'base.html' %}

{% block titulo %} <title> BLOG - LG Inversiones</title> {% endblock titulo %}

{% block presentacion %}
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Bienvenido a nuestro BLOG</h1>
                <p class="lead">Experiencias en los mercados</p>
                <a class="btn btn-lg btn-light" href="#contact">Invertí con profesionales</a>
            </div>
        </header>
{% endblock presentacion %}

{% block seccion_inicio %}
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Encuentros con el mercado</h2>
                        <p class="lead"> Este es un gran lugar para contar sobre tus experiencias</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock seccion_inicio %}


{% block formulario %}
<section id="blog">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Comparte tus historas</h2>
                <p>
                    <a href={% url 'listado_blog' %}> Busqueda de los Blogs</a>
                </p> 
                <p>
                    <form action={% url 'crear_blog' %} method="POST">
                        {% csrf_token %}
                        <table>
                            {{form}}
                        </table>
                        <input type="submit" value="Enviar">
                    </form>
                </p>        
            </div>
        </div>
    </div>
</section>
{% endblock formulario %}



{# aca iria el formulario de busqueda #}


{% block servicios %} {% endblock servicios %}

{# la seccion de contacto la dejamos intacta #}