{% extends 'base.html' %}

{% block seccion_inicio %}
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Sobre nosotros</h2>
                <p class="lead">Principalmente nos formamos como operadores bursatiles, especializados en trading de acciones Americanas. Con la experiencia que trae el tiempo, dedicamos un espacio para formar a otra personas en el negocio del Trading. Esto nos llevo a contactar con empresas privadas que necesitaban nustra asesoría en inversiones.</p>
                <ul>
                    <li>Sabemos como se mueven los precios, pero sobre todo, los operamos todos los dias</li>
                    <li>Nuestra lógica operativa se relaciona con la realidad del precio</li>
                    <li>Contamos tambien con una estructura operativa inversiones a largo plazo</li>
                    <li>Reducimos el riesgo al no usar apalancamiento en futuros ni estrategias de opciones financieras</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock seccion_inicio %}